@charset "utf-8";
@import "./fonts.css";
@import "./custom-class.css";
/*todo  Root project  */
:root {
  --bg-top-nav: #232f3e;
}
/*! Basic  Style Project */
body {
  font-family: yekan bakh;
}
/* ? === Start Header Style === */
.bg-top-nav {
  background: var(--bg-top-nav);
}
.custom_top-nav,
.nav p {
  font-size: 15px;
}
.custom_top-nav a {
  padding: 7px;
}
.custom_top-nav .border-end {
  border-color: #4a4a4a !important;
}
.shoping-cart {
  vertical-align: middle;
  font-size: 16px;
}
.dropdown-toggle-custom::after{
  vertical-align: middle;
}
.cart-dropdown{
  list-style: none;
  font-size: 12px;
}
.shoping-cart-menu{
  width: 350px;
}